*{
margin: 0;
padding: 0;

}

.main{
    width: 100%;
    background: url(bg1.jpg);
    background-position: relative;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:rgb(16, 115, 245, 0.877);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(10, 10, 9);
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 100px;
    background: transparent;
    border: 1px solid rgb(226, 247, 46);
    margin-top: 13px;
    color: rgb(242, 244, 247);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #5a0dd6;
    border: #5a0dd6;
    margin-top: 13px;
    color: #ffff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;   
}

.btn:hover {
    background-color: #e7f070;
}



.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:rgb(18, 24, 24);
    position: relative;
}


.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #5a0dd6;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a{
    text-decoration: none;
    color: #ffff;
    transition: .3s ease;
}

.cn:hover{
    background-color: #f1ee11;
}

.content span{
    color: #5a0dd6;
    font-size: 70px;
}

.hero{
    width: 100%;
    background: url(bg1.jpg);
    background-position: left;
    background-size: cover;
    height: 109vh;
}

.form-box{
    width: 380px;
    height: 480px;
    background: linear-gradient(to top, rgba(238, 212, 222, 0.8)50%, rgba(238, 212, 222, 0.8)50%);
    position: relative;
    top: 110px;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ec9191;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #e76161, #e76161);
    border-radius: 30px;
    transition: .5s;
}

.icon{
    position: absolute;
    bottom: 0px; /* Adjust as needed to control the vertical position */
    right: 10px; /* Adjust as needed to control the horizontal position */
    font-size: 20px; /* Adjust as needed for the icon size */
  }
   

.icon ion-icon{
    color: #fff;
    font-size: 20px;
    margin: auto;
    text-align: top;
    padding-left: 3px;
    padding-top: 3px;
    cursor: pointer;
    transition: 0.3s ease;

}

.icon ion-icon:hover{
    color: #401ffa;
    
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #da5454;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #e76161, #e76161);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span1{
color: #777;
font-size: 15px;
bottom: 68px;
position: absolute;

}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

.back-button {
    background-color: #eb3461;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect */
.back-button:hover {
    background-color: #e7f070;
}

.hey{
    width: 100%;
    background: url(bg1.jpg);
    background-position: left;
    background-size: cover;
    height: 109vh;
}


.content1{
    width: 1500px;
    height: auto;
    margin: auto;
    color:rgb(18, 24, 24);
    position: relative;
    font-size: 50px;
}

.content1 .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content1 h3{
    font-family: 'Times New Roman';
    font-size: 100px;
    padding-left: 20px;
    margin-top: 500%;
    letter-spacing: 2px;
}

.content1 .cn{
    width: 160px;
    height: 40px;
    background: #5a0dd6;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}


.back-button2 {
    background-color: #eb3461;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect */
.back-button2:hover {
    background-color: #e7f070;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ebcece;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 28px;
}
h4 {
    margin-bottom: 20px;

}

button {
    background-color: #3a13e9;
    color: #6712f0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #eedb2f;
}
